body{
    text-align: center;
}
#popup{
    max-width: 960px;
}
#postForm{
    display: flex;
    flex-direction: column;
    padding: 25px;
    textarea{
        margin: 20px 0;
        height: 200px;
    }
    button{
        font-size: 1rem;
        padding: 5px 10px;
        margin: auto;
    }
  .postInput{
        padding: 5px;
        font-size: 1rem;
    }  
}
.postContainer{
    border-bottom: 1px solid black;
    display: flex;
    max-width: 960px;
    margin: 10px auto;
    font-size: 1.25rem;
    * {
        padding: 5px;
        color: grey;
    }
    #name{
        margin-left: auto;
    }
    #title{
        color: black;
        font-size: 1.5rem;
        font-weight: 600;
        margin: auto;
    }
}