body{
    text-align: center;
}
#popup{
    max-width: 960px;
}
#postForm{
    display: flex;
    flex-direction: column;
    padding: 25px;
    textarea{
        margin: 20px 0;
        height: 200px;
    }
    button{
        font-size: 1rem;
        padding: 5px 10px;
        margin: auto;
    }
  .postInput{
        padding: 5px;
        font-size: 1rem;
    }  
}
