.App {
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px grey;
    background-color: rgb(17, 104, 202);
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    .authTitle{
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
        font-size: 4rem;
    }
    .signIn {
        background-color: white;
        padding: 4px;
        #info{
            font-size: 1.25rem;
        }
        .loginContainer {
            display: flex;
            flex-direction: column;
            padding: 30px;
            .local{
                font-size: 1.15rem;
                padding: 10px;
                border-radius: 4px;
                border-left: 4px solid rgb(17, 104, 202);
            }
            #btnSubmit{
                font-size: 1.15rem;
                border-radius: 4px;
                font-weight: 600;
                margin-top: 10px;
                background-color: rgb(17, 104, 202);
                color: white;
                border: 1px solid rgb(49, 118, 245);
                padding: 10px;
            }
            #btnSubmit:hover{
                cursor: pointer;
                background-color: rgb(13, 72, 139);
            }
            #createNew{
                text-align: left;
                margin-top: 10px;
                font-size: 1rem;
            }
        }
        .trdPartyAuth {
            font-size: 1.25rem;
            margin: 10px;
            padding: 10px;
            .login {
                margin: 10px;
                text-decoration: none;
                border-radius: 4px;
                padding: 5px;
            }
            .Google{
                background-color: rgb(221, 75, 57);
                color: white;
                border: 1px solid rgb(221, 75, 57);
            }
            .Github{
                background-color: rgb(63, 61, 61);
                color: white;
                border: 1px solid rgb(17, 16, 16);
            }
            .loginIcon{
                padding-right: 5px;
                border-right: 1px solid;
                margin-right: 5px;
            }
        }
    }
}