body{
    margin-left: 0;
    margin-right: 0; 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    font-size: 1.25rem;
}
.topBar {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    #navTitle{
        font-size: 2rem;
    }
    ul{
        display: flex;
        margin-left: auto;
        margin-top: 0;
        li {
            text-decoration: none;  
            margin-right: 20px;  
        }
    }
    .menuBars{
        display: none;
    }
}
.small-screen{
    display: none;
}
@media all and (min-width: 700px){
    .small-screen-on {
        display: none;
    }
}
@media all and (max-width: 700px){
    .small-screen-on {
        display: block;
    }
    .topBar ul {
        display: none;
    }
    .topBar .menuBars {
        display: block;
        margin-left: auto;
        font-size: 2rem;
        background: none;
        border: none;
        &:hover{
            cursor: pointer;
            color: darkslategray;
        }
        &:focus{
            outline: none;
        }
    }
}