#profileBanner{
    background: lightgrey;
    border-bottom: 2px solid lightblue;
    text-align: center;
    padding: 10px;
    #profImg{
        border-radius: 50%;
        width: 20%;
        max-width: 150px;
    }
}